$background: #1a1a1a
$default-text: #d1d1d1
$bold-text: #eee
$logo-and-movie-title: #f3f3f3
$search-field-placeholder-and-icon: #dedede
$search-field-background: #2e2e2e
$category-text: #1e1e1e
$category-background: #f3f3f3
$footer-text: #979797
$hr: #3c3c3c

$font: "Poppins", sans-serif
$logo-font: "Rowdies", sans-serif

*
    color: $default-text
    font-family: $font

html
    font-size: 62.5%

body
    background-color: $background
    display: flex
    flex-direction: column

main
    background-color: #833c3c

footer
    background-color: #3c837b
    
h1
    font-size: 6.5rem
    font-family: $logo-font
    font-weight: 300
    color: $logo-and-movie-title